/* *{для браузера */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url(global.css);

html{
  /* значение по умолчанию */
  font-size: 10px;
}

 body{

 }
 .container{
   width: 100%;
   margin: 0 auto;
 }

/* шапка сайта */

header{
  min-height: 700px;
  background-color: #4f313a;
}
.title{
  font-size: 150px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color:#ff0835;
  width: 100%;
  font-family: 'Pangolin', cursive;
 }

 .backround{
  background-image: url(../img/наруто.jpg);
  height: 1500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }
/* раздел меню
 */
 section.menu{
   height:100%;
   background:#4f313a;
 }

.row{
  display: flex;
  justify-content:flex-start;
  height: 300px;
  font-size: 30px;
  margin: 30px;
  color:#ffffff;
}

.group-menu{
  margin: 30px;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 200px;
}

.group-menu>img{
width: 310px;
height: 200px;
}

.title-group-menu{
  align-self: center;
  margin:0 10px 0 10px ;
}
.vacancy{
  display: flex;
  justify-content: center;
  font-size: 70px;
  text-align: center;
  color: red;
}

.img{
  width: 100px;
}

.menu{
  height: 1000px;
}

.card{
  cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

.card:hover{
  transform-origin: left top;
  margin-top: -10px;
  margin-left: 20px;
transition: margin-left 130ms;
transition: margin-top 130ms;
box-shadow: 0 10px 90px rgba(0, 0, 0, 0.4);
}

.el-menuhot-food{
  display: flex;
  justify-content: flex-end;
}

img{
  border-radius: 5px;
  width: 350px;
  height: 220px;
}

section{
  background: #4f313a;
  font-family: 'Pangolin', cursive;
}